<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Reverse Geocoding Services</title>
</head>

<body>
    <!-- This part is for error messages "flashed" by flask -->
    {% for message in get_flashed_messages() %}
    <p><strong>{{ message }}</strong></p>
    {% endfor %}

    <h1 align="center">Welcome to our reverse geocoding service!</h1>

    <h3 align="center"><a href="https://github.com/missystem/422gpx/blob/main/README.md" target="_blank" title="User Guide">Click here for HOWTO use our services</a></h3>
    <br>

    <form id="upload_demo" method="POST" action="_upload"
         enctype="multipart/form-data">
    <h4 align="center"><label for="the_file">Upload a file:</label>
        <input id="the_file" type=file name=file></4>
    <h5 align="center">WARNING! Only .gpx file is allowed</h5>
    <br>
    <h3 align="center"><label for="APIs">Choose your API: </label>
    <select name="APIs" id="APIs">
        <option value="GoogleAPI">Google</option>
        <option value="TAMUAPI">TAMU</option>
    </select></h3>
    <br>
    <h3 align="center"><label for="name">Input your API key:</label>
    <input type="text" name="text" required minlength="3" maxlength="50" size="40"></h3>
    <style>
    input[type="submit"]{
        /* change these properties to whatever you want */
        background-color: #786549;
        color: #c3c788;
        padding: 30;
    }
    </style>
    <h4 align="center"><input type="submit" value="Submit" /></h4>
    
    </form>   
   
</body>
</html>
