<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>File upload demo</title>
</head>

<body>
    <!-- This part is for error messages "flashed" by flask -->
    {% for message in get_flashed_messages() %}
    <p><strong>{{ message }}</strong></p>
    {% endfor %}

    <h1>Welcome to our geocoding/reverse geocoding service.</h1>
    <form id="upload_demo" method="POST" action="_upload"
         enctype="multipart/form-data">
      <label for="the_file">Upload a file:</label>
      <input id="the_file" type=file name=file>
      

    <br><br>
        <a href="https://geoservices.tamu.edu/Login/" title="Register for API_key">Click here to register TAMU Geocoding service</a>
        <br>
        <h3> Choose your API: </h3>
        <label for="APIs">Choose an API: </label>
        <select name="APIs" id="APIs">
            <option value="GoogleAPI">Google</option>
            <option value="TAMUAPI">TAMU</option>
        </select>
        <br>
        <h3>Input your API key:</h3>
        <label for="name">API key:</label>
        <input type="text" name="text" required minlength="3" maxlength="50" size="40">
    <br>
    <input type="submit" value="Submit" />
    </form>   
   

</body>
</html>
